.calculadora {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 420px;
  font-size: 36px;
}

div {
  border: solid;
  border-width: 1px;
}

#display {
  height: 73px;
}

.teclado {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.teclado-main {
  display: flex;
  flex-direction: column;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#f1,
#f2,
#f3,
#f4,
#f5 {
  display: flex;
  flex-direction: row;
}

button {
  width: 73px;
  height: 73px;
  font-size: large;
  cursor: pointer;
}

button:hover {
  background-color: rgb(86, 143, 143);
  transition: 0.2s ease-in-out;
}

.mas,
.equal {
  height: 150px;
}

.equal {
  background-color: rgb(121, 215, 246);
}
